# Aplicación
PORT=3000
NODE_ENV=development

# URLs
API_URL=http://localhost:3000

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nest_commerce_db
DB_USER=postgres
DB_PASSWORD=
# ---- Do not set to true in production ----
# This will drop and recreate the database schema on every application start
# Use with caution, especially in production environments
DB_SYNCHRONIZE=true
# ---- Do not set to true in production ----



# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Upload Provider (cloudinary, aws-s3, local)
UPLOAD_PROVIDER=cloudinary

# JWT (para futuras implementaciones)
JWT_SECRET=
JWT_EXPIRATION=2h